
.input{
    display: flex;
    justify-content: center;
    input{
       
        margin-top: 50px;
        width: 70%;
        min-width: 250px;
        min-height: 35px;
        background-color: rgba(128, 128, 128, 0.127);
        border-radius: 10px;
    }
}
.p{
    margin-left: 5%;
}

